not_in_git/
iseconfig/
working/
nohup.out
AtomBusMon_guide.ncd
AtomBusMon_summary.html
src/*/AtomBusMon_bd.bmm
src/*/AtomCpuMon_bd.bmm
src/*/AtomFast6502_bd.bmm
src/*/Z80CpuMon_bd.bmm
src/*/MC6809ECpuMon_bd.bmm
*~
#*
build_*.log
firmware/*.o
firmware/*.bit
firmware/avr_progmem.*
ipcore/*/WatchEvents.asy
ipcore/*/WatchEvents.gise
ipcore/*/WatchEvents.ncf
ipcore/*/WatchEvents.sym
ipcore/*/WatchEvents.vho
ipcore/*/WatchEvents/
ipcore/*/WatchEvents_flist.txt
ipcore/*/WatchEvents_xmdf.tcl
ipcore/*/gen_WatchEvents.tcl
ipcore/*/_xmsgs/
ipcore/*/coregen.cgp
ipcore/*/coregen.log
ipcore/*/create_WatchEvents.tcl
ipcore/*/edit_WatchEvents.tcl
ipcore/*/tmp/
