not_in_git/
iseconfig/
working/
nohup.out
AtomBusMon_guide.ncd
AtomBusMon_summary.html
src/250/AtomBusMon_bd.bmm
src/250/AtomCpuMon_bd.bmm
src/250/AtomFast6502_bd.bmm
src/250/Z80CpuMon_bd.bmm
src/250/MC6809ECpuMon_bd.bmm
src/500/AtomBusMon_bd.bmm
src/500/AtomCpuMon_bd.bmm
src/500/AtomFast6502_bd.bmm
src/500/Z80CpuMon_bd.bmm
src/500/MC6809ECpuMon_bd.bmm
*~
#*
build_250.log
build_500.log
firmware/*.o
firmware/*.bit
firmware/avr_progmem.*
ipcore/250/WatchEvents.asy
ipcore/250/WatchEvents.gise
ipcore/250/WatchEvents.ncf
ipcore/250/WatchEvents.sym
ipcore/250/WatchEvents.vho
ipcore/250/WatchEvents/
ipcore/250/WatchEvents_flist.txt
ipcore/250/WatchEvents_xmdf.tcl
ipcore/250/gen_WatchEvents.tcl
ipcore/250/_xmsgs/
ipcore/250/coregen.cgp
ipcore/250/coregen.log
ipcore/250/create_WatchEvents.tcl
ipcore/250/edit_WatchEvents.tcl
ipcore/250/tmp/
ipcore/500/WatchEvents.asy
ipcore/500/WatchEvents.gise
ipcore/500/WatchEvents.ncf
ipcore/500/WatchEvents.sym
ipcore/500/WatchEvents.vho
ipcore/500/WatchEvents/
ipcore/500/WatchEvents_flist.txt
ipcore/500/WatchEvents_xmdf.tcl
ipcore/500/gen_WatchEvents.tcl
ipcore/500/_xmsgs/
ipcore/500/coregen.cgp
ipcore/500/coregen.log
ipcore/500/create_WatchEvents.tcl
ipcore/500/edit_WatchEvents.tcl
ipcore/500/tmp/
