iseconfig/
working/
nohup.out
AtomBusMon_guide.ncd
AtomBusMon_summary.html
src/AtomBusMon_bd.bmm
src/AtomCpuMon_bd.bmm
src/AtomCpuMon_bd.bmm
src/AtomFast6502_bd.bmm
src/Z80CpuMon_bd.bmm
src/MC6809ECpuMon_bd.bmm
*~
#*
firmware/*.o
firmware/*.bit
firmware/avr_progmem.*
ipcore_dir/WatchEvents.asy
ipcore_dir/WatchEvents.gise
ipcore_dir/WatchEvents.ncf
ipcore_dir/WatchEvents.sym
ipcore_dir/WatchEvents.vho
ipcore_dir/WatchEvents/
ipcore_dir/WatchEvents_flist.txt
ipcore_dir/WatchEvents_xmdf.tcl
ipcore_dir/gen_WatchEvents.tcl
ipcore_dir/_xmsgs/
ipcore_dir/coregen.cgp
ipcore_dir/coregen.log
ipcore_dir/create_WatchEvents.tcl
ipcore_dir/edit_WatchEvents.tcl
ipcore_dir/tmp/
